$cart-item-img-width-sm: 70px;
$cart-item-img-width: 80px;

.offcanvas-cart {
    .cart-item {
        border-bottom: 1px solid $border-color;
        margin-bottom: 0;

        &:first-child {
            border-top: 1px solid $border-color;
        }
    }

    .cart-item-price {
        font-weight: $font-weight-normal;
    }

    .cart-item-quantity,
    .cart-item-remove {
        @extend .pt-0;
    }

    .cart-item-remove {
        position: static;
    }

    .cart-item-row {
        align-items: center;
    }

    .cart-item-details {
        @extend .mb-0;
    }

    .cart-item-quantity,
    .cart-item-quantity-container,
    .custom-select,
    .form-select {
        @extend .w-100;
    }

    .cart-item-img {
        border: none;
        width: $cart-item-img-width-sm;

        @include media-breakpoint-up(sm) {
            width: $cart-item-img-width;
        }
    }

    .cart-item-details-container {
        .cart-item-details {
            margin-right: 15px;
            padding-left: 5px;
        }
    }

    .offcanvas-summary {
        @extend .mb-0;

        .summary-label,
        .shipping-label {
            @extend .col-7;
        }

        .summary-value,
        .shipping-value {
            @extend .col-5;
        }

        .summary-total {
            font-size: $h4-font-size;
        }

        .summary-label {
            color: $gray-700;
        }
    }

    &-promotion-form {
        margin-bottom: $spacer-xl;

        .form-control {
            padding: 30px 0;
        }
    }

    &-actions {
        border-top: 1px solid $border-color;

        [data-swag-paypal-express-button='true'] {
            margin-top: 20px;
        }
    }

    &-tax {
        margin-top: $spacer-sm;
        color: $sw-color-brand-primary;
    }

    &-header-count {
        font-weight: $font-weight-normal;
        color: $gray-900;
    }

    .btn.btn-link {
        @extend .btn-outline-primary;

        letter-spacing: $letter-spacing-base;
        text-transform: uppercase;
        padding: 19px 0;

        &:hover {
            text-decoration: none;
        }
    }

    .shipping-cost strong {
        font-weight: $font-weight-normal;
    }

    .begin-checkout-btn {
        margin-bottom: $grid-gutter-width / 2;
        padding: 19px 0;
    }

    @include media-breakpoint-up(lg) {
        .cart-price {
            order: 2;
        }

        .cart-item-quantity {
            order: 1;
        }

        .cart-item-remove {
            order: 3;
        }
    }
}
