{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_quantity_container %}
    {% set selectQuantityThreshold = 100 %}
    <div class="col-4 col-md-12 col-lg-4">
        {% block buy_widget_configurator_group_title %}
            <div class="product-detail-configurator-group-title">
                {{ "showroom.detail.quantity"|trans|sw_sanitize }}
            </div>
        {% endblock %}
    </div>

    <div class="col-8 col-md-12 col-lg-8">
        {% block buy_widget_buy_quantity %}
            {# @deprecated tag:v6.5.0 - Numeric quantity input with additional plus/minus controls will be the default. #}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block buy_widget_buy_button_container %}
    <div class="col-12">
        <div class="row justify-content-end product-detail-button-container">
            {% set isPricingTable = product.calculatedPrices|length > 1 %}
            {% block buy_widget_price %}
                <div
                    class="col-12 {% if isPricingTable %}col-md-12{% else %}col-md-4{% endif %} buy-widget__price">
                    <div class="product-detail-price-container">
                        {% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
                    </div>
                </div>
            {% endblock %}

            <div class="col-12 col-md-8 buy-widget__button">
                {% block buy_widget_buy_button %}
                    {{ parent() }}
                {% endblock %}

                {% if config('core.cart.wishlistEnabled') %}
                    {% block page_product_detail_wishlist %}
                        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                            showText: true,
                            size: 'md',
                            productId: product.id
                        } %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
