{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{# buy_widget_price and buy_widget_tax was moved into buy_widget_price #}
{% block buy_widget_price %}{% endblock %}
{% block buy_widget_tax %}{% endblock %}

{% block buy_widget_configurator_include %}
    {% apply spaceless %}
        <div class="product-detail-wrapper">
            {{ parent() }}
        </div>
    {% endapply %}
{% endblock %}

{# the block buy_widget_wishlist was moved into buy-widget-form #}
{% block buy_widget_wishlist %}
{% endblock %}
