$carousel-control-button-width: 80px;
$carousel-control-button-height: 80px;

$carousel-control-button-width-sm: 40px;
$carousel-control-button-height-sm: 40px;

$carousel-control-icon-width: 32px;
$carousel-control-icon-width-sm: 16px;

.swag-cms-extensions-quickview-modal {
    padding: 0 15px !important;

    @include media-breakpoint-up(lg) {
        padding: 0 104px !important;
    }

    .modal-dialog {
        max-width: 1000px;
        margin: 0 auto;
        top: 0;
        min-height: 100%;
    }

    .swag-cms-extensions-quickview-close-button {
        display: none;
    }

    .swag-cms-extensions-quickview-detail-page-button {
        padding: 3px;
    }
}

.swag-cms-extensions-quickview-container {
    .product-detail-configurator-collapse {
        padding: 5px 20px;
        border-radius: 12px;
    }

    .product-detail-quantity-select {
        height: 40px;
        border-radius: 12px;
        line-height: 1;
    }

    .product-detail-button-container {
        margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
        .product-detail-configurator-group {
            margin-bottom: 0;
        }
    }

    .product-detail-configurator-group-title {
        padding: 10px 0;
    }

    .swag-cms-extensions-quickview-product-buy-container {
        display: none;
    }

    .swag-cms-extensions-quickview-content {
        .swag-customized-products {
            margin-top: 24px;
        }

        .buy-widget-container {
            @extend .justify-content-end;

            .btn-buy-wrapper {
                @extend .col-12;
                padding: 0 $grid-gutter-width / 2;
            }

            .buy-widget-btn {
                @extend .col-12, .px-0;
            }
        }
    }

    .product-detail-wrapper,
    .product-detail-button-container {
        border-top: 1px solid $sw-border-color;
    }

    .btn-buy-wrapper,
    .product-detail-button-container {
        padding: $spacer-lg 0 0;
    }
}

#swag-cms-extensions-quickview-carousel {
    .carousel-control {
        &-next, &-prev {
            background: none;
            transform: translateY(-50%);
            top: 50%;
            width: 40px;
            height: 40px;
            position: absolute;

            @include media-breakpoint-up(lg) {
                width: 60px;
                height: 60px;
            }

            @include media-breakpoint-up(xl) {
                width: 80px;
                height: 80px;
            }

            .icon {
                display: inline-block;
                background: no-repeat 50% / 100% 100%;
                background-color: $white;

                &.icon {
                    width: inherit;
                    height: inherit;
                }

                &-arrow-head-left {
                    background-image: $carousel-control-prev-icon-bg;
                }

                &-arrow-head-right {
                    background-image: $carousel-control-next-icon-bg;
                }

                svg {
                    display: none;
                }
            }
        }

        &-prev {
            left: -50px;

            @include media-breakpoint-up(lg) {
                left: -130px;
            }

            @include media-breakpoint-up(xl) {
                left: -104px;
            }
        }

        &-next {
            right: -50px;

            @include media-breakpoint-up(lg) {
                right: -130px;
            }

            @include media-breakpoint-up(xl) {
                right: -104px;
            }
        }
    }

    .gallery-slider-controls-prev {
        left: 50%;
        transform: translate(calc(-50% - #{$gallery-prev-outside-height}), 0%);

        @include media-breakpoint-up(md) {
            left: auto;
            right: 55px;
            transform: translate(0, calc(-50% + #{$gallery-prev-outside-height-sm}));
        }
    }

    .gallery-slider-controls-next {
        right: 50%;
        transform: translate(calc(50% + #{$gallery-prev-outside-height}), 0%);

        @include media-breakpoint-up(md) {
            right: 0;
            transform: translate(0, calc(-50% + #{$gallery-prev-outside-height-sm}));
        }
    }
}

@include media-breakpoint-up(md) {
    #swag-cms-extensions-quickview-carousel {
        .carousel-control {
            &-next, &-prev {
                .icon {
                    width: $carousel-control-button-width;
                    height: $carousel-control-button-width;
                    background-size: $carousel-control-icon-width auto;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #swag-cms-extensions-quickview-carousel {
        .carousel-control {
            &-next, &-prev {
                .icon {
                    width: $carousel-control-button-width-sm;
                    height: $carousel-control-button-width-sm;
                    background-size: $carousel-control-icon-width-sm auto;
                }
            }
        }
    }
}

