{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/navigation.html.twig' %}

{% block utilities_offcanvas_close %}
    <div class="navigation-offcanvas-header">
        {% block utilities_offcanvas_show_all_link %}
            {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/show-all-link.html.twig' %}
        {% endblock %}

        <button class="btn btn-block offcanvas-close js-offcanvas-close sticky-top">
            {% block utilities_offcanvas_close_icon %}
                {% sw_icon 'x' style { 'size': 'lg' } %}
            {% endblock %}

            {{ "showroom.general.offcanvasCloseMenu"|trans|sw_sanitize }}
        </button>
    </div>
{% endblock %}

{% block layout_navigation_offcanvas_navigation_actions %}
    <div data-language-currency="true">
        <nav class="nav navigation-offcanvas-actions">
            {% block layout_navigation_offcanvas_navigation_action_currency %}
                {{ parent() }}
            {% endblock %}

            {% block layout_navigation_offcanvas_navigation_action_language %}
                {{ parent() }}
            {% endblock %}
        </nav>
    </div>
{% endblock %}
