{% sw_extends '@Storefront/storefront/component/address/address-editor-modal.html.twig' %}

{% block component_address_address_editor_modal_accordion_action_edit %}
    <div class="col-6 col-md-4">
        <div class="btn btn-outline-primary btn-block address-editor-edit create collapsed"
             data-toggle="collapse"
             data-target="#address-create-edit">
            {{ "account.addressEditBtn"|trans|sw_sanitize }}
        </div>
    </div>
{% endblock %}

{% block component_address_address_editor_modal_accordion_action_list %}
    {% if AvailableAddressCount > 0 %}
        <div class="col-6 col-md-4">
            <div class="btn btn-outline-primary btn-block address-editor-select"
                 data-toggle="collapse"
                 data-target="#address-list">
                {{ "account.selectAddress"|trans|sw_sanitize }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_accordion_action_create %}
    <div class="col-6 col-md-4">
        <div class="btn btn-outline-primary btn-block address-editor-create collapsed"
             data-toggle="collapse"
             data-target="#address-create-new">
            {{ "account.addressCreateBtn"|trans|sw_sanitize }}
        </div>
    </div>
{% endblock %}
