.module-statistic {
    .grid-form {
        .flatpickr-icon {
            .input-group-text {
                padding: 15px;
                border: none;
                border-bottom: 1px solid $gray-200;
                background: $white;

                .icon {
                    color: $sw-text-color;
                }
            }
        }

    }
}

.flatpickr-input {
    padding-left: 5px;
}

.flatpickr-calendar {
    border-radius: 0;

    span {
        &.flatpickr-day,
        &.nextMonthDay,
        &.prevMonthDay, {
            border: none;
        }
    }

    .flatpickr-months {
        margin-bottom: 5px;
    }

    .flatpickr-monthDropdown-months {
        text-align: end;
        height: 20px;
    }
}
