{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_content %}
    <div class="product-detail-content">
        {% set mediaItems = page.product.media.media %}
        {{ block('page_product_detail_main') }}
    </div>
{% endblock %}

{% block page_product_detail_media %}
    <div class="col-lg-7 product-detail-media">
        {% if page.product.media %}
            {% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                'mediaItems': mediaItems,
                'zoom': true,
                'zoomModal': true,
                'displayMode': 'contain',
                'gutter': 5,
                'minHeight': '500px',
                'navigationArrows': 'inside',
                'navigationDots': false,
                'galleryPosition': 'underneath',
                'isProduct': true,
                'fallbackImageTitle': page.product.translated.name,
                'startIndexThumbnails': 1,
                'startIndexSlider': 1
            } %}
        {% endif %}
    </div>
{% endblock %}

{% block page_product_detail_buy %}
    <div class="col-lg-5 product-detail-buy">
        {% block page_product_detail_headline %}
            <div class="align-items-center product-detail-headline">
                {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
            </div>
        {% endblock %}

        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
    </div>
{% endblock %}
