{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_sorting %}
    <div data-custom-select="true">
        {{ parent() }}
    </div>
{% endblock %}
