{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner_control_prev_icon %}
    {% sw_icon 'arrow-head-left' style { 'pack': 'showroom' } %}
{% endblock %}

{% block element_image_gallery_inner_control_next_icon %}
    {% sw_icon 'arrow-head-right' style { 'pack': 'showroom' } %}
{% endblock %}

{% block element_image_gallery_inner %}
    {% set showroomGallerySliderOptions = {
        slider: {
            controls:true
        },
        thumbnailSlider: {
            items: (galleryPosition == "underneath") ? 8 : 5,
            gutter: 16,
            responsive: {
                md: {
                    enabled: true,
                    controls: true,
                    items: (galleryPosition == "underneath") ? 6 : 5,
                    gutter: 16
                },
                lg: {
                    enabled: true,
                    controls: true,
                    items: (galleryPosition == "underneath") ? 8 : 5,
                    gutter: 16
                },
                xl: {
                    enabled: true,
                    controls: true,
                    items: (galleryPosition == "underneath") ? 10 : 5,
                    gutter: 16
                }
            }
        }
    } %}

    {% set gallerySliderOptions = gallerySliderOptions|replace_recursive(showroomGallerySliderOptions) %}

    {{ parent() }}
{% endblock %}

{% block element_image_gallery_inner_thumbnails_controls_prev %}
    <button
        class="base-slider-controls-prev gallery-slider-thumbnails-controls-prev">
        {% if galleryPosition == "left" %}
            {% sw_icon 'arrow-head-up' style { 'pack': 'showroom' } %}
        {% elseif galleryPosition == "underneath" %}
            {% sw_icon 'arrow-head-left' style { 'pack': 'showroom' } %}
        {% endif %}
    </button>
{% endblock %}

{% block element_image_gallery_inner_thumbnails_controls_next %}
    <button
        class="base-slider-controls-next gallery-slider-thumbnails-controls-next">
        {% if galleryPosition == "left" %}
            {% sw_icon 'arrow-head-down' style { 'pack': 'showroom' } %}
        {% elseif galleryPosition == "underneath" %}
            {% sw_icon 'arrow-head-right' style { 'pack': 'showroom' } %}
        {% endif %}
    </button>
{% endblock %}

{% block element_image_gallery_inner_zoom_modal_slider_control_prev_icon %}
    {% sw_icon 'arrow-head-left' style { 'pack': 'showroom' } %}
{% endblock %}

{% block element_image_gallery_inner_zoom_modal_slider_control_next_icon %}
    {% sw_icon 'arrow-head-right' style { 'pack': 'showroom' } %}
{% endblock %}

{% block element_image_gallery_inner_controls %}
    {% if navigationArrows %}
        <div class="gallery-slider-controls{% if imageCount < maxItemsToShowMobileNav + 1 %} hide-nav{% endif %}"
             data-gallery-slider-controls="{% if navigationArrows %}true{% else %}false{% endif %}">
            {% block element_image_gallery_inner_control_items %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
