{% sw_extends '@Storefront/storefront/element/cms-element-buy-box.html.twig' %}

{% block element_buy_box %}
    {% block page_product_detail_headline %}
        <div class="align-items-center product-detail-headline">
            {% sw_include '@Storefront/storefront/page/product-detail/headline.html.twig' %}
        </div>
    {% endblock %}

    {{ parent() }}
{% endblock %}
