{% sw_extends '@Storefront/storefront/layout/footer/footer-minimal.html.twig' %}

{% block layout_footer_inner_container %}
    <footer class="footer-minimal">
        {% block layout_footer_bottom %}
            <div class="footer-main">
                {{ parent() }}
            </div>

            {# @var \Swag\PayPal\Storefront\Data\Struct\FundingEligibilityData fundingEligibilityData #}
            {% set fundingEligibilityData = page.footer.extensions[constant('Swag\\PayPal\\Storefront\\Data\\FundingSubscriber::FUNDING_ELIGIBILITY_EXTENSION')] %}

            {% if fundingEligibilityData %}
                <div data-swag-paypal-funding-eligibility="true"
                     data-swag-paypal-funding-eligibility-options="{{ fundingEligibilityData|json_encode }}">
                </div>
            {% endif %}

        {% endblock %}
    </footer>
{% endblock %}
