.address-editor-list-wrapper,
.address-editor-create-address-wrapper {
    margin-top: $spacer;
}

.address-editor-modal {
    .modal-header {
        padding: $modal-padding-mobile;
    }

    .btn {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding: 7px $btn-padding-y;
        cursor: pointer;
    }

    .address-editor-edit,
    .address-editor-create,
    .address-editor-select {
        width: 100%;
    }

    .modal-header .close {
        z-index: 1;
        margin-bottom: -20px;
        margin-right: 20px;
    }
}

@include media-breakpoint-down(md) {
    .address-editor-modal {
        .modal-header .close {
            margin-right: 12px;
            margin-bottom: -16px;
        }

        .btn {
            margin-bottom: $spacer;
        }
    }
}

@include media-breakpoint-between(md, lg) {
    .modal-dialog {
        max-width: 700px;
    }
}
