.address-editor-list-wrapper,
.address-editor-create-address-wrapper {
    margin-top: $spacer;
    @if not feature('v6.6.0.0') {
        border-top: 1px solid $gray-300;
    }
}

.address-editor-modal {
    .modal-header {
        padding: $modal-padding-mobile;
    }

    .btn {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        @if feature('v6.6.0.0') {
            padding: 7px $btn-padding-y;
        } @else {
            padding: $btn-padding-y $btn-padding-y;
        }
        cursor: pointer;
    }

    .address-editor-edit,
    .address-editor-create,
    .address-editor-select {
        width: 100%;
    }

    .modal-header .close {
        z-index: 1;
        @if feature('v6.6.0.0') {
            margin-bottom: -20px;
            margin-right: 20px;
        }
    }
}

@include media-breakpoint-down(md) {
    .address-editor-modal {
        .modal-header .close {
            @if feature('v6.6.0.0') {
                margin-right: 12px;
                margin-bottom: -16px;
            } @else {
                margin-right: 0;
            }
        }

        .btn {
            margin-bottom: $spacer;
        }
    }
}

@include media-breakpoint-between(md, lg) {
    .modal-dialog {
        max-width: 700px;
    }
}
