.basic-captcha-content-refresh-icon {
    height: 100%;
}

.basic-captcha-content-image {
    max-height: 46px;

    img {
        height: 100%
    }
}

.basic-captcha-content {
    &.col-md-4 {
        @extend .col-12;
    }

    @include media-breakpoint-down(md) {
        &.col-md-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.captcha-google-re-captcha-v2 {
    padding-bottom: 20px;
}

.basic-captcha-content,
.captcha-google-re-captcha-v2,
.captcha-google-re-captcha-v3 {
    padding-top: 20px;
}

.footer-newsletter-form .confirm-message {
    font-size: $showroom-font-size-base;
    text-align: left;
    padding: 0;
}