.breadcrumb {
    a.is-active {
        font-weight: normal;
    }

    .breadcrumb-placeholder {
        &:first-child {
            margin-left: 0;
        }

        .icon {
            height: 10px;
            width: 10px;
        }

        svg {
            color: $gray-300;
        }
    }

    &.cms-breadcrumb {
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(md) {
    .breadcrumb {
        margin-bottom: 0;
    }
}
