.btn,
.btn-buy {
    font-weight: 500;

    &.disabled,
    &:disabled {
        color: $gray-600;
    }
}

.btn-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-light,
.btn-link,
.btn-danger,
.btn-buy {
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.btn-buy {
    &,
    &:hover {
        color: $sw-color-buy-button-text;
    }

    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    line-height: $btn-line-height;
    width: 100%;

    @include media-breakpoint-up(lg) {
        @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
        line-height: $btn-line-height-lg;
    }

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus,
        &:active {
            background-color: $black;
        }
    }
}

.btn-secondary {
    .icon {
        color: $sw-color-buy-button-text;
    }

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus,
        &:active {
            background-color: $btn-secondary-hover-color;
        }
    }
}

.btn-light {
    background-color: $gray-200;

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus,
        &:active {
            background-color: $gray-400;
        }
    }
}

.btn-outline-secondary {
    color: $sw-color-brand-primary;
    border: 1px solid $sw-color-brand-primary;
    background-color: $white;

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus,
        &:active {
            color: $btn-secondary-hover-color;
            border: 1px solid $btn-secondary-hover-color;
            background-color: $white;
        }
    }

    &:disabled,
    &.disabled {
        background-color: unset;
    }
}

.btn-link {
    &:disabled,
    &.disabled {
        background-color: unset;
        border: unset;
    }
}

.btn-lg {
    letter-spacing: $letter-spacing-base;
}

.btn.btn-primary {
    background-color: $sw-color-brand-primary;
    border-color: $sw-color-brand-primary;
}
