.cms-element-product-listing {
    .cms-element-product-listing-actions {
        @if (feature('V6_5_0_0')) {
            @extend .g-0;
        } @else {
            @extend .no-gutters;
        }

        border-bottom: 1px solid $border-color;
        padding-bottom: 30px;

        @include media-breakpoint-up(sm) {
            .pagination {
                margin-left: -14px;
            }
        }

        @include media-breakpoint-down(if(feature('V6_5_0_0'), md, sm)) {
            border-bottom: unset;
        }
    }

    .cms-listing-col {
        margin-bottom: 10px;

        &:last-child {
            padding-bottom: 40px;
        }
    }

    .border-primary {
        margin-bottom: -16px;
    }

    &-actions {
        & & {
            display: none;
        }
    }
}

.cms-listing-col {
    .product-overlay {
        bottom: unset;
        min-height: 100%;
    }
}

.cms-element-image-slider {
    .tns-outer {
        overflow: hidden;
    }
}

@include media-breakpoint-up(md) {
    .cms-element-product-listing {
        .cms-listing-col {
            margin-bottom: 22px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .cms-element-product-listing {
        .cms-listing-col {
            margin-bottom: 44px;
        }
    }
}
