$gallery-thumbnail-item-width: 46px;
$gallery-thumbnail-item-height: auto;
$gallery-thumbnail-item-gutter: 10px;

$gallery-prev-outside-height-sm: 10px;
$gallery-prev-outside-height: 30px;
$gallery-nav-outside-padding: 20px;
$gallery-nav-button-background: rgba(255, 255, 255, 0.8);

$gallery-image-height-sm: 250px;
$gallery-image-height-md: 500px;
$gallery-image-height-lg: 800px;

.gallery-slider-row {
    margin-bottom: 40px;
}

.gallery-slider-thumbnails-item-inner {
    padding: 0;
}

.gallery-slider-thumbnails-item {
    background: $white;
    opacity: 0.3;
    padding: 10px;

    .gallery-slider-thumbnails-image {
        max-width: $gallery-thumbnail-item-width;
        height: $gallery-thumbnail-item-height;
        object-fit: cover;
        font-family: 'object-fit: cover;'; // IE polyfill
    }

    .gallery-slider-thumbnails-item-inner {
        border: none;
        outline: none;
    }

    &.tns-nav-active {
        opacity: 1;

        .gallery-slider-thumbnails-image {
            outline: none;
        }
    }
}

.gallery-slider-controls-prev,
.gallery-slider-controls-next, {
    background: $gallery-nav-button-background;
}

.gallery-slider-controls-prev {
    &.is-nav-prev-outside {
        left: -$gallery-nav-outside-padding;
    }
}

.gallery-slider-controls-next {
    &.is-nav-next-outside {
        right: -$gallery-nav-outside-padding;
    }
}

.gallery-slider-thumbnails {
    &.is-underneath {
        margin-top: 30px;
    }
}

.gallery-slider-thumbnails-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.is-underneath {
        .tns-outer {
            flex: 1;
            margin-left: 0;
            margin-right: 120px;
        }
    }

    .gallery-slider-controls {
        padding-top: 20px;
    }

    .tns-inner {
        justify-content: flex-start;
    }
}

.gallery-slider-thumbnails-col {
    &.is-left {
        padding: ($gallery-thumbnail-item-height + $gallery-thumbnail-item-gutter) 0  ($gallery-thumbnail-item-height + $gallery-thumbnail-item-gutter) 0;

        .underneath-gallery-slider-controls {
            display: none;
        }

        .gallery-slider-thumbnails-controls-prev,
        .gallery-slider-thumbnails-controls-next {

            &[disabled] {
                .icon {
                    opacity: 0.2;
                }
            }

            width: $gallery-thumbnail-item-width;
            height: $gallery-thumbnail-item-height;
            background: $gallery-nav-button-background;
            opacity: 1;
        }

        .gallery-slider-thumbnails-controls-prev {
            top: -($gallery-thumbnail-item-height + $gallery-thumbnail-item-gutter);
        }

        .gallery-slider-thumbnails-controls-next {
            bottom: -($gallery-thumbnail-item-height + $gallery-thumbnail-item-gutter);
            top: auto;
        }
    }
}

.gallery-slider-thumbnails {
    &.is-underneath {
        .gallery-slider-thumbnails-item {
            margin-right: 1rem;
            max-width: 46px;
        }
    }

    .gallery-slider-thumbnails-item {
        @extend .p-0;

        max-height: 46px;
    }
}

@include media-breakpoint-down(md) {
    .gallery-slider-row {
        &.is-loading {
            height: $gallery-image-height-sm;
            overflow: unset;
        }
    }
}

@include media-breakpoint-up(md) {
    .gallery-slider-item {
        min-height: $gallery-image-height-md;
    }

    .gallery-slider-thumbnails-col {
        &.is-left {
            .gallery-slider-thumbnails-item {
                border: none;
                outline: none;
                // need to use !important here to overwrite core settings which is using !important
                margin-bottom: $gallery-thumbnail-item-gutter !important;
            }

            .underneath-gallery-slider-controls {
                display: initial;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .gallery-slider-row {
        &.is-loading {
            height: $gallery-image-height-lg;
        }
    }
}

// settings for product detail only
.is-ctl-product {

    .gallery-slider-thumbnails-container {
        &.hide-thumbs {
            display: block;

            .gallery-slider-thumbnails {
                display: none;
            }

            .underneath-gallery-slider-controls {
                padding-top: $spacer-xl;
            }
        }

        .tns-controls {
            display: none;
        }
    }

    .gallery-slider-controls-prev {
        left: 50%;
        transform: translate(calc(-50% - #{$gallery-prev-outside-height}), 0%);

        @include media-breakpoint-up(md) {
            left: auto;
            right: 55px;
            transform: translate(0, calc(-50% + #{$gallery-prev-outside-height-sm}));
        }
    }

    .gallery-slider-controls-next {
        right: 50%;
        transform: translate(calc(50% + #{$gallery-prev-outside-height}), 0%);

        @include media-breakpoint-up(md) {
            right: 0;
            transform: translate(0, calc(-50% + #{$gallery-prev-outside-height-sm}));
        }
    }
}
