@mixin icon-lg() {
    width: 24px;
    height: 24px;
}

.icon {
    &.icon-lg {
        @include icon-lg();
    }
}

.btn {
    .icon {
        > svg {
            top: 2px;
        }
    }
}

.is-right .offcanvas-close {
    .icon svg {
        top: 0.25rem;
    }
}

.is-left .offcanvas-close {
    .icon svg {
        top: 0;
    }
}

.icon-showroom {
    .icon {
        > svg {
            top: 3px;
        }
    }
}
