.input-group,
.input-group-lg,
.input-group-sm {
    @if (feature('V6_5_0_0')) {
        .btn {
            padding: 0;
            background-color: transparent;
            line-height: $input-btn-padding-y-sm;

            border: none;
            border-bottom: $input-border-width solid $input-border-color;
        }
    } @else {
        .input-group-append {
            .btn {
                padding: 0;
                background-color: transparent;
                line-height: $input-btn-padding-y-sm;

                border: none;
                border-bottom: $input-border-width solid $input-border-color;
            }
        }
    }

    .form-control {
        &:focus {
            @if (feature('V6_5_0_0')) {
                + .btn {
                    border-color: $input-focus-color;
                }
            } @else {
                + .input-group-append {
                    .btn {
                        border-color: $input-focus-color;
                    }
                }
            }
        }
    }
}
