.product-detail-tabs {
    .navigation-offcanvas-header {
        display: none;
    }

    .product-detail-tab-navigation-link:hover {
        background-color: transparent;
    }

    @include media-breakpoint-up(sm) {
        .nav-link {
            border-bottom: 0;

            &.active {
                border-bottom: 2px solid $sw-color-brand-primary;

                .nav-link-title:hover {
                    margin: 0 0.3px;
                }
            }

            .nav-link-title {
                margin: 0 0.3px;

                &:hover {
                    font-weight: $font-weight-bold;
                    margin: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(if(feature('V6_5_0_0'), sm, xs)) {
        .nav-link-title {
            font-size: $modal-title-font-size;
        }

        .product-detail-tab-preview {
            margin-top: 12px;
        }
    }
}

.product-detail-tab {
    &-navigation-link {
        font-size: $nav-link-title-font-size-sm;
        line-height: 34px;
    }

    @include media-breakpoint-up(lg) {
        &-navigation-link {
            font-size: $nav-link-title-font-size;
        }
    }
}
