$offcanvas-primary-color: $gray-900;
$offcanvas-content-width-lg: 800px;

.offcanvas {
    width: 100%;

    .offcanvas-close {
        color: $offcanvas-primary-color;
        padding: 20px 24px;
        border: 0;
        font-size: $font-size-xs;
        text-transform: none;

        .icon {
            color: $offcanvas-primary-color;
        }
    }

    &.is-right {
        .offcanvas-close {
            background-color: $gray-100;
            letter-spacing: 0;
        }
    }

    &.cart-offcanvas {
        .offcanvas-content-container {
            padding-top: 40px;
        }

        @include media-breakpoint-up(lg) {
            .offcanvas-content-container {
                width: $offcanvas-content-width-lg;
                padding-top: 70px;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .offcanvas {
        width: auto;
    }
}

@include media-breakpoint-up(lg) {
    .offcanvas {
        .offcanvas-close {
            font-size: $font-size-base;
        }
    }
}
