.payment-methods {
    padding-bottom: 10px;
    margin-right: 0;
}

.payment-method {

    border-bottom: unset;
    padding-left: 0;
    padding-right: 0;

    &:last-of-type {
        margin-bottom: $spacer;
    }

    .payment-control {
        height: 100%;

        .custom-control {
            padding-left: 0;
        }

        .custom-control-input:checked, .custom-control-label::before,
        .custom-control-label::before, .custom-control-label::after {
            display: none;
        }

        .payment-method-description {
            font-size: $showroom-font-size-base;

            strong {
                font-size: $h6-font-size;
                line-height: 28px;
            }
        }
    }

    .payment-form-group {
        height: 100%;
    }

    .payment-method-label {
        .payment-method-description {
            width: 100%;
            p {
                color: $gray-700;
                white-space: break-spaces;
                margin-bottom: 0;
            }
        }
    }

    .custom-control-input:checked+label {
        border-color: $sw-color-brand-primary;
    }

    @include media-breakpoint-down(md) {
        .payment-form-group {
            .payment-method-description {
                strong {
                    font-size: $showroom-font-size-base;
                    line-height: 19px;
                }
            }
        }
    }
}
