.wishlist-page {
    text-align: center;

    .product-box-image-container {
        position: relative;
        margin-bottom: 20px;

        .product-wishlist-btn-remove {
            right: 35px;
            top: 50px;
        }
    }

    .wishlist-listing-empty-icon {
        display: inline-block;

        .icon {
            width: 46px;
            height: 46px;

            svg path {
                fill: $gray-400;
            }
        }
    }

    .wishlist-listing-header {
        margin-top: 25px;
    }

    .cms-element-product-listing-actions {
        padding-bottom: 20px;

        .pagination-nav {
            border-top: 1px solid $gray-300;
            padding-top: 20px;
            width: 100%;
        }
    }
}

.product-wishlist {
    margin-top: 0;

    &-added,
    &-not-added,
    &-btn-remove {
        border-radius: 0;
    }

    &-remove {
        position: absolute;
        left: calc(100% + 29px);
        bottom: 105px;
    }

    &-button {
        position: absolute;
        left: calc(100% + 20px);
    }
}

.product-wishlist-action-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 20px;

    &::before {
        content: unset;
    }

    &:hover {
        background-color: $gray-400;
    }

    @include media-breakpoint-up(lg) {
        width: 50px;
        height: 50px;
    }
}

.is-ctl-wishlist {
    @include media-breakpoint-up(lg) {
        .container-main {
            min-height: unset;
        }
    }
}

.product-wishlist-btn-remove {
    z-index: 1;
}
