$configurator-group-line-height: 28px !default;
$configurator-padding-sm: 30px;
$configurator-padding: 40px;
$configurator-container-width: 474px;

.product-detail-configurator {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    width: 100%;

    &-group,
    &-active-option {
        width: 100%;
        cursor: pointer;
    }

    &-group {
        flex-direction: row;
        line-height: $configurator-group-line-height;
        margin-bottom: 14px;
        cursor: default;
    }

    &-active-option {
        flex-wrap: nowrap;
        font-weight: $font-weight-bold;

        &.global-collapse-headline {
            padding: 0;
            border: 0;
        }
    }

    &-options,
    &-option {
        display: block;
    }

    &-option {
        padding-bottom: 10px;
        margin: 0;

        &:first-child {
            padding-top: 10px;
        }

        &:last-child {
            padding-bottom: 0;
        }

        label {
            margin-bottom: 0;
            cursor: pointer;
        }
    }

    &-collapse {
        border: 1px solid $gray-800;
        border-radius: $configurator-border-radius;
        padding: 5px 20px;
    }

    &-group-title {
        margin: 0;
        text-transform: uppercase;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 8px;
        letter-spacing: $letter-spacing-base;
    }

    @include media-breakpoint-up(lg) {
        &-group-title {
            padding: 16px 0;
            font-size: $font-size-sm;
        }
        &-collapse {
            padding: 15px 20px;
        }
    }
}

.product-detail-configurator,
.product-detail-form-container {
    padding: $configurator-padding-sm 0;

    @include media-breakpoint-up(lg) {
        padding: $configurator-padding 0;
    }
}

.product-detail {
    &-form-container {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        &-configurator-container,
        &-form-container {
            max-width: $configurator-container-width;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


