{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header_inner %}
    {# move flyouts here from layout_main_navigation_menu_flyout_wrapper because they need to have full width #}
    <div data-flyout-menu="true">
        {% sw_include '@Storefront/storefront/layout/header/header.html.twig' %}
    </div>
{% endblock %}

{% block base_navigation %}
    {# move navigation to header and show search collapse instead #}
    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
{% endblock %}
