{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
    <button class="btn btn-md btn-buy"
            title="{{ "showroom.listing.boxAddProduct"|trans|striptags }}">
        {{ "showroom.listing.boxAddProduct"|trans|sw_sanitize }}
    </button>
{% endblock %}
