{% sw_extends '@Storefront/storefront/component/product/card/badges.html.twig' %}

{% block component_product_badges_discount %}
    {% set price = product.calculatedPrice %}
    {% if product.calculatedPrices.count > 0 %}
        {% set price = product.calculatedPrices.last %}
    {% endif %}

    {% set listPrice = price.listPrice.percentage > 0 %}
    {% set hasRange = product.calculatedPrices.count > 1 %}

    {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}
    {% if displayParent %}
        {% set displayFromVariants = displayParent and price.unitPrice !== product.calculatedCheapestPrice.unitPrice %}
    {% endif %}

    {% if listPrice and not hasRange and not displayFromVariants %}
        <div>
            <span class="badge badge-danger badge-discount">&#37;</span>
        </div>
    {% endif %}
{% endblock %}
