
.is-ctl-maintenance {
    .header-logo-main {
        img {
            max-height: $logo-max-height;
        }
    }
}

.header-row {
    padding: 20px 0;
}

.container-maintenance {
    min-height: 65vh;
}

@include media-breakpoint-between(sm, md) {
    .container-maintenance {
        min-height: 70vh;
    }
}

@include media-breakpoint-down(sm) {
    .container-maintenance {
        min-height: 60vh;
    }
}

.footer-simple {
    padding: 20px 0;
    position: absolute;
    bottom: 0;

    img {
        max-height: $logo-max-height;
    }
}
