/*
Custom variables
==================================================
contains new variables specific to the theme.
*/

// Footer
$footer-bg-color: $sw-footer-bg-color !default;
$footer-color: $sw-footer-text-color !default;
$footer-border-color: $gray-800 !default;
$footer-bottom-color: $gray-700 !default;

// Max-height for mininal header and footer logo
$logo-max-height: 50px;

// Product Detail font sizes
$product-detail-name-sm: 24px;
$product-detail-name: 34px;
$product-detail-price: 18px;
$product-detail-price-lg: 24px;

// Custom color
$alert-color-info: #d0ecf1 !default;
$alert-color-success: #d7f0e1 !default;
$alert-color-error: #eee3e3 !default;
$alert-color-warning: #f8e7d7 !default;
$shopware-color-brand: #189eff !default;

// Icon
$icon-chevron-right: url($show-room-bundle-path + '/assets/icon/chevron-right-xs.svg') !default;
$custom-select-indicator-gray: url($show-room-bundle-path + 'assets/icon/chevron-down-gray.svg');

// Font
$showroom-font-size-base: 11px;
$showroom-font-size-sm: 10px;
$showroom-font-size-xs: 8px;

$nav-link-title-font-size-sm: 18px;
$nav-link-title-font-size: 22px;

$letter-spacing-base: 2px;

// Select
$custom-control-active-border-color: $gray-800;

// Configurator
$configurator-border-radius: 20px !default;

// Min height for cms-form cover image
$cms-form-cover-image-height: 550px;
$cms-form-cover-image-height-sm: 240px;

// Top and bottom padding for cms form content
$cms-form-top-and-bottom-padding: 80px;

