{# @deprecated tag:v6.5.0 - Template `order-detail-list-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_name_value %}
    {% if isDiscount %}
        <strong class="name-value">
            {{ lineItem.label }}
        </strong>
    {% else %}
        {% set url = lineItem.referencedId ? seoUrl('frontend.detail.page', {'productId': lineItem.referencedId }) : '#not-found' %}
        <a href="{{ url }}"
           class="order-item-product-name text-decoration-none"
           title="{{ lineItem.label }}"> <strong class="name-value">
                {{ lineItem.label }}
            </strong> </a>
    {% endif %}
{% endblock %}
