{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-create-address.html.twig' %}

{# @deprecated tag:v6.5.0 remove this block when default storefront update data-parent to data-bs-parent #}
{% block component_address_address_editor_modal_create_address %}
    <div id="{{ typePrefix }}{% if address %}address-create-edit{% else %}address-create-new{% endif %}"
         class="collapse"
         data-bs-parent="#{{ typePrefix }}addressEditorAccordion">
        {% block component_address_address_editor_modal_create_address_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
