{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{% block component_address_address_editor_modal_list_address %}
    {% if feature('v6.6.0.0') %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row gap-3">
                    {{ block('component_address_address_editor_modal_list_address_include') }}

                    {{ block('component_address_address_editor_modal_list_address_actions') }}
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
