{% sw_extends '@Storefront/storefront/component/quickview/buy-widget.html.twig' %}

{% block page_product_detail_configurator_include %}
    <div class="product-detail-wrapper">
        {{ parent() }}
    </div>
{% endblock %}
