{% sw_extends '@Storefront/storefront/component/quickview/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {% if buyable %}
        <div class="{{ formRowClass }}">
            <div class="col-4 col-md-12 col-lg-4">
                <div class="product-detail-configurator-group-title">
                    {{ "showroom.detail.quantity"|trans|sw_sanitize }}
                </div>
            </div>
            <div class="col-8 col-md-12 col-lg-8">
                {% block page_product_detail_buy_quantity %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
        <div class="product-detail-button-container">
            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
        </div>
        {{ parent() }}
    {% else %}
        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_quantity_container %}{% endblock %}
