{% sw_extends '@Storefront/storefront/component/quickview/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {% set isPricingTable = product.calculatedPrices|length > 1 %}
    {% set selectQuantityThreshold = 100 %}
    {% if buyable %}
        <div class="row">
            <div class="col-4 col-md-12 col-lg-4">
                <div class="product-detail-configurator-group-title">
                    {{ "showroom.detail.quantity"|trans|sw_sanitize }}
                </div>
            </div>
            <div class="col-8 col-md-12 col-lg-8">
                <div class="swag-cms-extensions-quickview-content--buy-quantity col-12 col-md-4{% if (product.calculatedMaxPurchase - product.minPurchase) / product.purchaseSteps > selectQuantityThreshold %} quantity-input{% endif %}">
                    {% block page_product_detail_buy_quantity %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row product-detail-button-container">
            {{ parent() }}
        </div>
    {% else %}
        {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_quantity_container %}{% endblock %}
