{% sw_extends '@Storefront/storefront/page/product-detail/configurator.html.twig' %}

{% block page_product_detail_configurator %}
    <div class="product-detail-configurator">
        {% set config = {
            url: url('frontend.detail.switch', { productId: page.product.parentId }),
            parentId: page.product.parentId,
            listingProductId: page.listingProductId
        } %}

        {% block page_product_detail_configurator_form %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_configurator_groups %}
    {% sw_include '@Storefront/storefront/page/product-detail/configurator.html.twig' %}
{% endblock %}
