{# @deprecated tag:v6.5.0 - finish-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-item.html.twig' %}

{% block page_checkout_item_remove %}
{% endblock %}

{% block page_checkout_item_quantity_number %}
    <div class="d-flex justify-content-end">
        {{ lineItem.quantity }}
    </div>
{% endblock %}
