.cms-block {
    .cms-block-container {
        h3 {
            font-size: $font-size-sm;
            text-transform: uppercase;
            font-weight: bold;
            color: $sw-color-brand-primary;
            letter-spacing: $letter-spacing-base;
            border-bottom: 1px solid $border-color;
        }
    }

    &.cms-block-sidebar-filter {
        border-bottom: 1px solid $border-color;
    }

    @include media-breakpoint-up(md) {
        &.cms-block-text-two-column {
            .cms-element-form {
                padding: 50px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &.cms-block-text-two-column {
            .cms-element-form {
                padding-top: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.cms-block-image-text .cms-row > :first-child,
        &.cms-block-image-text-cover .cms-row > :first-child {
            margin-bottom: 0;
        }
    }
}
