.cms-block {
    .cms-block-container {
        h3 {
            font-size: $h4-font-size;
            text-transform: uppercase;
            font-weight: bold;
            color: $sw-color-brand-primary;
            letter-spacing: $letter-spacing-base;
            border-bottom: 1px solid $border-color;
            padding-bottom: 3px;
        }
    }

    &.cms-block-sidebar-filter {
        border-bottom: 1px solid $border-color;
    }

    .cms-element-form {
        .card-title {
            font-size: $h1-font-size-lg;
        }
    }

    @include media-breakpoint-up(md) {
        &.cms-block-text-two-column {
            .cms-element-form {
                padding: 50px;
            }
        }

        .sw-cms-form-cover-image {
            min-height: $cms-form-cover-image-height;
            object-fit: cover;
            height: 100%;
        }
    }

    @include media-breakpoint-down(md) {
        &.cms-block-text-two-column {
            .cms-element-form {
                padding-top: 50px;
            }
        }

        .sw-cms-form-cover-image {
            min-height: $cms-form-cover-image-height-sm;
            object-fit: unset;
            height: auto;
        }
    }

    @include media-breakpoint-down(sm) {
        &.cms-block-image-text .cms-row > :first-child,
        &.cms-block-image-text-cover .cms-row > :first-child {
            margin-bottom: 0;
        }
    }
}
