.cms-section-sidebar {
    .cms-section-sidebar-sidebar-content {
        background: $gray-100;
        padding: $grid-gutter-width / 2;
    }

    .filter-panel {
        .filter-panel-item {
            .filter-panel-item-toggle {
                max-width: unset;
                width: 100%;
                max-height: 50px;

                .global-collapse-plus-icon {
                    display: none;
                }

                .global-collapse-minus-icon {
                    display: block;
                }

                &[aria-expanded="false"] {
                    .global-collapse-plus-icon {
                        display: block;
                    }

                    .global-collapse-minus-icon {
                        display: none;
                    }
                }
            }

            .filter-panel-item-dropdown {
                display: none;
                max-width: unset;
                width: unset;
                border-radius: unset;
                border: unset;
                background: $gray-100;

                &.show {
                    display: block;
                }
            }
        }
    }

    .filter-panel-offcanvas-header {
        padding: 0;
        margin-bottom: 30px;
        height: unset;
    }

    .filter-panel-offcanvas-only,
    .filter-panel-offcanvas-header {
        display: block;
    }

    .filter-panel-offcanvas-close {
        display: none;
    }

    .filter-panel-item {
        .filter-panel-item-dropdown,
        .filter-panel-item-toggle {
            background: $white;
        }
    }
}
