.swag-ellipsis-span,
.swag-ellipsis-total-span {
    @extend .filter-active;

    border: 1px solid $gray-200;
    background-color: $gray-200;
    padding-right: 14px;

    a {
        text-decoration: none;
    }

    &:hover,
    &:active {
        border-color: $gray-300;
        background-color: $gray-300;
    }
}
