.form-label {
    font-size: 12px;
    font-weight: 500;
    color: $sw-color-brand-primary;

    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: $letter-spacing-base;

    height: 8px;
    line-height: 8px;
}

.form-control {
    border: none;
    border-bottom: $input-border-width solid $input-border-color;

    &:disabled,
    &[readonly] {
        border-color: $gray-200;
        color: $gray-600;
    }

    &::placeholder {
        opacity: 0.4;
    }
}

@include media-breakpoint-up(lg) {
    .form-control {
        font-size: $input-font-size-lg;
        padding: $input-padding-y-lg $input-padding-x;
    }
}
