.input-group,
.input-group-lg,
.input-group-sm {
    .input-group-append {
        .btn {
            padding: 0;
            background-color: transparent;
            line-height: $input-btn-padding-y-sm;

            border: none;
            border-bottom: $input-border-width solid $input-border-color;
        }
    }

    .form-control {
        &:focus {
            + .input-group-append {
                .btn {
                    border-color: $input-focus-color;
                }
            }
        }
    }
}
