{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_navigation %}
    <div class="container">
        <div class="row align-items-center header-row">
            {% block layout_header_navigation_toggle %}
                <div class="col-auto d-xl-none header-menu-col">
                    <div class="menu-button">
                        {% block layout_header_navigation_toggle_button %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block layout_header_logo %}
                <div class="col col-xl-auto header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {% block layout_header_navigation_menu %}
                <div class="col header-navigation-col">
                </div>
            {% endblock %}

            {% block layout_header_actions %}
                <div class="col-auto header-actions-col">
                    <div class="row no-gutters">
                        {% block layout_header_search_toggle %}
                            <div class="col-auto">
                                <div class="search-toggle">
                                    <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#searchCollapse"
                                            aria-expanded="false"
                                            aria-controls="searchCollapse"
                                            aria-label="{{ "header.searchButton"|trans|striptags }}">
                                        {% sw_icon 'search' %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}

                        {% block layout_header_actions_account %}
                            {{ parent() }}
                        {% endblock %}

                        {% block layout_header_actions_cart %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
