{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/customized-products/_include/title.html.twig' %}

{% block swag_customized_products_option_type_template_label_toggle_icon_plus %}
    <div class="toggle-icon-plus">
        {% sw_icon 'plus' style { 'size': 'md' } %}
    </div>
{% endblock %}

{% block swag_customized_products_option_type_template_label_toggle_icon_minus %}
    <div class="toggle-icon-minus">
        {% sw_icon 'minus' style { 'size': 'md' } %}
    </div>
{% endblock %}
