{# @deprecated tag:v6.5.0 - Template `confirm-item.html.twig` is deprecated. Use `storefront/component/line-item/line-item.html.twig` instead. #}

{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-item.html.twig' %}

{% block page_checkout_item_unit_price %}
    <div class="col-12 col-md-2 cart-item-unit-price">
        {% block page_checkout_item_unit_price_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
