{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/modal/info.html.twig' %}

{% block swag_custom_notifications_info_modal_title %}
    <h5 class="swag-custom-notification-info-modal__content card-title mb-4">
        {{ 'SwagCustomNotification.infoPopup.title'|trans }}
    </h5>
{% endblock %}
