{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/modal/newsletter-popup.html.twig' %}

{% block swag_custom_notifications_newsletter_title %}
    <h5 class="card-title mb-4">
        {{ 'SwagCustomNotification.newsletterPopup.heading'|trans }}
    </h5>
{% endblock %}
