.is-ctl-address {
    .card-title {
        line-height: $line-height-base;
    }

    .account-content {
        .account-welcome {
            @extend .col-12;
            @extend .col-md-8;

            @if feature('v6.6.0.0') {
                h1 {
                    font-weight: 500;
                }
            }
        }
    }

    .address-action-create {
        @extend .col-12;
        padding: 20px 0 0;
        @if feature('v6.6.0.0') {
            @extend .btn-primary;
            height: 44px;
            font-size: 10px;
            display: inline-flex;
            align-items: center;

            .icon {
                display: none;
            }
        } @else {
            @extend .col-md-4;
        }
    }

    @if feature('v6.6.0.0') {
        .account-address {
            .alert {
                margin-top: 30px;
            }

            .btn-link {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: normal;
                text-transform: none;
            }
        }
    }

    .account-welcome-container {
        border-bottom: 1px solid $border-color;
        margin-right: 0;
        margin-left: 0;
        @if feature('v6.6.0.0') {
            padding-bottom: 20px;

            .btn-link {
                font-size: 10px;
                font-weight: 500;
                letter-spacing: normal;
                text-transform: uppercase;
                --#{$prefix}border-width: 0;
            }
        }
    }

    .default-address {
        padding-top: 30px;
        border-bottom: 1px solid $border-color;
        @if feature('v6.6.0.0') {
            padding-bottom: 30px;

            .address-actions {
                display: none;
            }

            .address-card .h3 {
                font-size: 14px;

                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                }
            }

            .address {
                &:first-line {
                    font-weight: 500;
                }
            }
        }
    }

    @if feature('v6.6.0.0') {
        .other-address {
            .address {
                font-size: 14px;
            }

            .address-actions {
                > *:last-child {
                    padding: 0 !important;
                }
            }
        }
    }

    .address-action-set-default {
        text-decoration: underline;

        @if feature('v6.6.0.0') {
            padding-top: 6px !important;
            padding-bottom: 6px !important;

            .icon {
                display: none;
            }
        } @else {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .address-form-actions {
        padding-bottom: 30px;
    }

    .address-list {
        padding-bottom: 24px;

        .h3 {
            font-size: $h4-font-size;
            line-height: $line-height-base;
        }

        @if feature('v6.6.0.0') {
            .card-body {
                --#{$prefix}border-width: 0;
                padding: 0 !important;
            }
        }
    }

    @if feature('v6.6.0.0') {
        .address-action-create {
            padding-top: 40px;
            padding-right: 0;
            position: absolute;
            bottom: 20px;
            right: auto;
            left: 0;
            width: auto;
        }
    } @else {
        .account-address {
            .alert {
                margin-top: 30px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        .account-content {
            .account-welcome {
                border-bottom: unset;
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .address-action-create {
            right: 0;
            @if feature('v6.6.0.0') {
                left: auto;
            } @else {
                padding-top: 40px;
                padding-right: 0;
                text-align: end;
                position: absolute;
                top: 0;
            }
        }

        .address-list {
            padding-bottom: 30px;
        }

        @if not feature('v6.6.0.0') {
            .address-action-delete {
                margin-left: 20px;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .account-content {
            .account-welcome {
                border-bottom: unset;
            }
        }

        .address-actions-buttons .btn,
        .address-action-create a {
            width: 100%;
        }

        @if not feature('v6.6.0.0') {
            .address-action-delete {
                margin-left: 14px;
            }
        }

        .address-list {
            padding-bottom: unset;
        }
    }
}

.account-address {
    position: relative;
}

@include media-breakpoint-up(lg) {
    .is-ctl-address .address-action-create {
        padding-top: 75px;
    }
}

.is-act-accountcreateaddress,
.is-act-accounteditaddress {
    .address-required-info {
        padding-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
        .address-form-actions {
            text-align: right;
        }
    }

    @include media-breakpoint-down(lg) {
        .address-form-submit {
            width: 100%;
        }
    }
}
