.account-aside-item {
    &.is-active,
    &.list-group-item {
        background: inherit;
    }

    &.is-active {
        font-weight: $font-weight-bolder;
    }
}

.checkout-aside-item {
    &-image {
        padding-left: 0;
        padding-right: 0;
    }

    &-data {
        padding-right: 0;
    }
}
