.is-ctl-accountorder,
.is-ctl-accountprofile {
    .order-detail-content {
        background: $gray-100;

        .order-detail-content-header {
            border-bottom: unset;
            font-size: $showroom-font-size-sm;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            letter-spacing: 1.88px;
            color: $sw-color-brand-primary;
            border-top: 1px solid $border-color;
            padding-top: 20px;
            padding-bottom: 20px;

            .order-detail-content-header-cell[class*='col-']:last-of-type {
                padding-right: 20px;
            }
        }

        .order-detail-content-row {
            display: flex;
            align-items: center;
            background: $white;
            border-bottom: unset;
            padding: 9px 20px;
            font-weight: normal;
            min-height: 100px;

            &.document-item {
                background: none;
                padding: 5px 0;
                min-height: unset;

                a {
                    text-decoration: none !important;
                }

                &:last-child {
                    margin-bottom: 36px;
                }
            }


        }

        .line-item-product {
            .line-item-quantity {
                @include make-col(12);
                display: flex;
                order: 3;
            }

            .line-item-unit-price {
                border-top: none;
                padding-top: 0;
            }

            .line-item-total-price {
                border-bottom: none;
                padding-bottom: 0;
            }

            .line-item-quantity-select-wrapper {
                width: auto;
            }

            @include media-breakpoint-up(lg) {
                .line-item-quantity {
                    @include make-col(2);
                }
            }
        }
    }

    dt {
        font-weight: normal;
    }

    .order-table-header-heading {
        margin-right: 20px;
    }

    @include media-breakpoint-down(md) {
        .order-detail-content {
            border: unset;
        }

        .order-table-header-context-menu-wrapper {
            z-index: 99;
            top: 0;
        }

        .order-table-header-heading {
            width: 100%;
            margin-top: 0;
        }

        .order-detail-content-header-line {
            border-top: 1px solid $border-color;
            margin-right: 20px;
            margin-left: 20px;
            padding-bottom: 30px;
        }
    }
}

.order-status-badge {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 1px;
    align-self: center;
    margin: 0 0 10px;
    width: unset;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 8px;
    }
}
