.account-register {
    .register-card {
        .register-personal,
        .register-billing {
            .card-title {
                font-size: $h4-font-size;
                margin-bottom: $grid-gutter-width;
            }
        }

        .register-personal {
            .form-group {
                @extend .col-12;
                @extend .col-sm-12;
                @extend .col-md-12;
            }
        }

        .register-footer {
            padding-top: 60px;
            padding-bottom: $grid-gutter-width / 2;

            .privacy-notice {
                margin-bottom: 0;
            }
        }

        .register-group {
            &::after {
                content: '';
                border-bottom: 1px solid $border-color;
                width: calc(100% - #{$grid-gutter-width});
                margin-left: $grid-gutter-width / 2;
            }
        }

        .register-submit .btn {
            padding-right: 50px;
            padding-left: 50px;
        }

        .address-different-shipping {
            padding-left: 0;
            padding-right: 0;
        }

        .register-card-title {
            margin-bottom: $grid-gutter-width;
        }

        @include media-breakpoint-only(lg) {
            .address-form-street-front,
            .address-form-street-back {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        @include media-breakpoint-down(if(feature('V6_5_0_0'), lg, md)) {
            background: $white;
            padding-top: 20px;

            .register-personal,
            .register-billing {
                .card-title {
                    font-size: $h6-font-size;
                    margin-bottom: 30px;
                }
            }

            .register-shipping,
            .register-shipping .card-title {
                padding-left: 0;
                padding-right: 0;
            }

            .register-group {
                &::after {
                    width: calc(100% - #{$grid-gutter-width} * 2);
                    margin-left: $grid-gutter-width;
                }
            }

            .register-address {
                margin-bottom: 30px;
                padding-left: 0;
            }
        }

        @include media-breakpoint-down(if(feature('V6_5_0_0'), md, sm)) {
            .register-address {
                padding-left: $grid-gutter-width / 2;
            }

            .address-contact-type-department,
            .address-form-street-front {
                &.form-group {
                    padding-right: 0;
                }
            }
        }
    }

    .data-protection-information {
        a {
            text-decoration: underline;
        }
    }

    .register-shipping {
        padding-top: 11px;
    }

    label[for="personalBirthday"] {
        @extend .form-label;
    }

    @include media-breakpoint-up(lg) {
        .account-register-login-headline {
            display: none;
        }
    }
}

.register-guest-control {
    @if (feature('V6_5_0_0')) {
        .form-check-input:valid + .form-check-label {
            color: $gray-900;

            &::before {
                border-color: $gray-900;
            }
        }
        padding-left: 0;

        .custom-control-input {
            @extend .form-check-input;
        }

    } @else {
        .custom-control-input:valid + .custom-control-label {
            color: $gray-900;

            &::before {
                border-color: $gray-900;
            }
        }
    }
}
