{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search %}
    <div class="collapse header-search"
         id="searchCollapse">
        <div class="container">
            <div class="d-flex align-items-baseline">
                <form action="{{ path('frontend.search.page') }}"
                      method="get"
                      data-search-form="true"
                      data-url="{{ path('frontend.search.suggest') }}?search="
                      class="header-search-form">
                    {% block layout_header_search_input_group %}
                       {{ parent() }}
                    {% endblock %}
                </form>

                <button class="btn js-search-toggle-btn header-search-btn-close"
                        type="button"
                        data-toggle="collapse"
                        data-target="#searchCollapse"
                        aria-expanded="false"
                        aria-controls="searchCollapse"
                        aria-label="search collapse">
                    {% sw_icon 'x' style { 'size': 'md' } %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
