{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends {
    template: '@Storefront/storefront/component/line-item/element/quantity.html.twig',
    scopes: ['default', 'subscription']
    }
%}

{% block component_line_item_quantity_inner %}
    {{ block('component_line_item_quantity_label') }}

    {{ block('component_line_item_quantity_select_wrapper') }}
{% endblock %}

{% block component_line_item_quantity_display %}
    <div class="d-flex justify-content-start line-item-quantity">
        {{ lineItem.quantity }}
    </div>
{% endblock %}
