$checkout-aside-spacer: 50px;
$checkout-aside-spacer-lg: 100px;
$checkout-aside-width-lg: 33.33%;

.checkout-wrapper {
    background-color: $gray-100;

    .checkout-aside-summary {
        background-color: $white;
    }

    .container-main {
        display: flex;
        padding-bottom: 0;
    }

    .checkout-main,
    .checkout-aside {
        padding-top: $checkout-aside-spacer;
        padding-bottom: $checkout-aside-spacer;
    }

    @include media-breakpoint-up(lg) {
        .checkout-main,
        .checkout-aside {
            padding-top: $checkout-aside-spacer-lg;
            padding-bottom: $checkout-aside-spacer-lg;
        }
    }
}

.is-act-checkoutregisterpage {
    .checkout {
        padding-top: 0px;
    }

    .checkout-aside {
        @include media-breakpoint-up(lg) {
            margin-left: $checkout-aside-spacer;
            max-width: calc(#{$checkout-aside-width-lg} - #{$checkout-aside-spacer});
            flex-basis: calc(#{$checkout-aside-width-lg} - #{$checkout-aside-spacer});
        }
    }
}

.checkout-container {
    height: 100%;
    margin-bottom: 0;
}

.checkout-card {
    .card-title {
        font-size: $font-size-base;
    }

    @include media-breakpoint-up(lg) {
        .card-title {
            font-size: $h2-font-size;
        }
    }
}
