{# SwagShowRoomTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/account/addressbook/index.html.twig' %}

{% block page_account_address_welcome %}
    <div class="row account-welcome-container">
        {{ block('page_account_address_welcome_headline') }}

        {{ block('page_account_address_item_content_create') }}
    </div>
{% endblock %}

{% block page_account_address_main %}
    {% set defaultBillingAddress = context.customer.defaultBillingAddress %}
    {% set defaultShippingAddress = context.customer.defaultShippingAddress %}

    {% block page_account_address_default %}
        {{ parent() }}
    {% endblock %}

    {% block page_account_address_list %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
