$configurator-group-line-height: 28px !default;
$configurator-padding-sm: 30px;
$configurator-padding: 40px;

.product-detail-configurator {
    width: 100%;

    &-group,
    &-active-option {
        width: 100%;
        cursor: pointer;
    }

    &-group {
        flex-direction: row;
        line-height: $configurator-group-line-height;
        margin-bottom: 14px;
        cursor: default;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-active-option {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-weight: $font-weight-bold;

        &.global-collapse-headline {
            padding: 0;
            border: 0;
        }

        .product-detail-configurator-option-label {
            @include text-truncate();

            width: calc(100% - 1rem);
        }
    }

    &-options,
    &-option {
        display: block;
    }

    &-options {
        &.collapsing {
            transition: none;
        }
    }

    &-option {
        padding-bottom: 10px;
        margin: 0;

        &:first-child {
            padding-top: 10px;
        }

        &:last-child {
            padding-bottom: 0;
        }

        label {
            margin-bottom: 0;
            cursor: pointer;
        }
    }

    &-option-input + &-option-label {
        &.is-display-text {
            border: none;
            padding-left: 0;
            padding-right: 0;
            justify-content: flex-start;
        }
    }

    &-option-input:checked + &-option-label {
        &.is-display-text {
            background-color: transparent;
            color: initial;
        }
    }

    &-collapse-wrapper {
        position: relative;
    }

    &-collapse {
        position: absolute;
        width: 100%;

        border: 1px solid $gray-800;
        border-radius: $configurator-border-radius;
        padding: 5px 20px;
        background-color: $white;
    }

    &-group-title {
        margin: 0;
        text-transform: uppercase;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 8px;
        letter-spacing: $letter-spacing-base;
    }

    @include media-breakpoint-up(lg) {
        &-group-title {
            padding: 16px 0;
            font-size: $font-size-sm;
        }
        &-collapse {
            padding: 15px 20px;
        }

        &-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.product-detail-configurator-option-label.show + .global-collapse-column-toggle {
    .global-collapse-minus-icon {
        display: block;
    }
    .global-collapse-plus-icon {
        display: none;
    }
}

.product-detail-button-container,
.product-detail-wrapper {
    padding-top: $configurator-padding-sm;
    border-top: 1px solid $border-color;

    @include media-breakpoint-up(lg) {
        padding-top: $configurator-padding;
    }
}

.product-detail-button-container {
    width: 100%;
    margin-top: $configurator-padding-sm;
    justify-content: flex-end;

    @include media-breakpoint-up(lg) {
        margin-top: $configurator-padding;
    }
}

.product-detail {
    &-form-container {
        margin-top: $spacer-md;
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        &-form-container {
            margin-top: calc(40px + #{$spacer-md});
        }
    }

    @include media-breakpoint-up(lg) {
        &-wrapper,
        &-configurator-container,
        &-form-container {
            width: 100%;
        }

        &-form-container {
            margin-top: $spacer-md;
        }
    }
}
