.product-detail {
    &-headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    &-manufacturer,
    &-manufacturer-logo {
        max-width: 100px;
    }

    &-name {
        color: $sw-color-brand-primary;
        font-weight: $font-weight-bold;
        font-size: $product-detail-name-sm;
        margin-bottom: 0;

        &-container {
            @extend .px-0;
        }
    }

    &-price-container {
        text-align: right;
        width: 100%;
    }

    &-price {
        font-size: $product-detail-price;
        font-weight: $font-weight-semibold;
        line-height: 1;
    }

    &-tax-link {
        text-decoration: underline;
        font-size: 10px;
        line-height: 1rem;
    }

    &-price-unit,
    &-tax {
        font-size: $font-size-xs;
    }

    &-tax {
        text-align: right;
        line-height: 1;
    }

    &-description-title {
        font-weight: $font-weight-semibold;
    }

    &-ordernumber-container {
        font-size: $font-size-sm;
        margin-top: 0;
    }

    &-reviews,
    &-ordernumber-container {
        margin-bottom: 0;
    }

    &-reviews {
        font-size: $font-size-xs;
    }

    &-ordernumber-label {
        font-weight: $font-weight-normal;
    }

    &-configurator-group.product-detail-quantity {
        margin-bottom: 0;
    }

    &-quantity-select {
        @include border-radius($configurator-border-radius);

        border: 1px solid $border-color;
        padding: 5px 20px;
        background: $custom-select-indicator-gray no-repeat right 20px center/1rem;
    }

    &-properties-table {
        th,
        td {
            padding: 16px 8px 16px 16px;
            font-weight: $font-weight-base;
        }
    }

    .buy-widget-container {
        &-block {
            flex-wrap: wrap;
        }

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;

            > .btn-buy {
                flex-basis: 303px;
                margin-left: 14px;
                flex-shrink: 0;
            }
        }
    }

    &-review-share {
        line-height: 28px;
    }

    &-tab-navigation-link.active {
        .card-tabs & {
            background-color: transparent;
        }
    }
}

@include media-breakpoint-up(lg) {
    .product-detail-name {
        font-size: $product-detail-name;
    }

    .product-detail-price {
        font-size: $product-detail-price-lg;
    }
}

@include media-breakpoint-only(md) {
    .product-detail .product-detail-form-container {
        margin-top: 0;
    }

    .product-detail .product-detail-configurator-container {
        margin-bottom: $configurator-padding-sm;
    }
}

.product-detail-form-container {
    overflow: hidden;

    div[data-swag-paypal-installment-banner='true'],
    div[data-swag-paypal-express-button='true'] {
        @extend .col-12;

        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    div[data-amazon-pay-button-product-detail='true'] {
        @include media-breakpoint-down(sm) {
            > .col-8 {
                @include make-col(12);
            }
        }
    }

    .paypal-buttons-context-iframe > iframe.component-frame {
        // fix product variants dropdown display below Paypal button on product detail page
        z-index: 0 !important;
    }
}

.product-block-prices-grid {
    margin-bottom: 0;

    .product-block-prices-cell {
        padding: 10px 16px;
    }
}

.swag-cms-extensions-quickview-product-buy-form {
    div[data-swag-paypal-installment-banner='true'],
    div[data-swag-paypal-express-button='true'] {
        @include media-breakpoint-up(md) {
            @include make-col(12);
        }
    }

    .buy-widget__price,
    .buy-widget__button {
        @include make-col(12);
    }

    .swag-cms-extensions-quickview-content--buy-button {
        @include make-col(12);
    }

    .product-detail-price {
        text-align: right;
    }

    .product-block-prices,
    .product-detail-price {
        margin-top: 0;
    }
}

// Tablet stripped for graduated price
.product-block-prices-table {
    margin-bottom: 0;

    th,
    td {
        border: 0;
    }

    &-head {
        background-color: transparent;
    }

    thead th {
        border-right: 1px solid $white;
        border-top: 0;
        border-bottom: 0;
    }

    th {
        font-weight: $font-weight-base;
    }
}

.product-wishlist {
    text-align: center;

    &-action {
        border-bottom: 1px solid $gray-900;
        display: inline-flex;
    }

    &-btn-content {
        font-weight: $font-weight-bold;
        font-size: $btn-font-size;
        text-decoration: none;
        text-transform: uppercase;
    }

    .icon-wishlist {
        width: 12px;
        height: 12px;
    }
}

.product-slider-container {
    @extend .pb-4;
}

.list-price-badge {
    margin-bottom: 0;
}

.is-ctl-product {
    @include media-breakpoint-up(lg) {
        nav ~ .product-detail {
            padding-top: 0;
        }

        .product-detail {
            padding-top: 50px;
        }
    }
}
