.offcanvas {
    @if (feature('V6_5_0_0')) {
        .offcanvas-body {
            .product-detail-review {
                &.tab-pane-container {
                    padding: 20px;
                }
            }

            .product-detail-review-sortby-label {
                display: none;
            }
        }
    } @else {
        .offcanvas-content-container {
            .product-detail-review {
                &.tab-pane-container {
                    padding: 20px;
                }
            }

            .product-detail-review-sortby-label {
                display: none;
            }
        }
    }
}

.product-detail-review-teaser-btn {
    display: block;
    width: 100%;
}

.product-review-point .icon {
    width: 12px;
    height: 12px;
}

.product-detail-review-item-points {
    line-height: 28px;

    span.icon {
        width: 12px;
        height: 12px;
    }
}

.product-detail-review {
    &.tab-pane-container {
        background-color: $gray-100;
        padding: 50px;
    }
}

.product-detail-review-main {
    .product-detail-review-form-footer {
        display: block;
    }
}

.product-detail-review-form-content {
    > label {
        @extend .form-label;
    }
}

.product-detail-review-sortby {
    &-form {
        align-items: baseline;
        display: flex;
    }

    &-label {
        flex-shrink: 0;
    }
}

.product-detail-review-list-content {
    .product-detail-review-item {
        background-color: $white;
        padding: 20px;
        border-bottom: 0;
        border-radius: 2px;
    }
}

#review-tab-pane {
    background-color: $gray-100;
    padding: 0;
}

#showForeignReviews + label {
    text-transform: unset;
}

#reviewsSortby {
    flex-shrink: 0;
    padding-left: 0;
}

@include media-breakpoint-up(lg) {
    .product-review-point span.icon {
        width: 12px;
        height: 12px;
    }

    .product-detail-review-item-points {
        span.icon {
            width: 1rem;
            height: 1rem;
        }
    }

    .product-detail-review-language-form {
        small {
            font-size: 14px;
        }
    }

    #reviewsSortby {
        font-size: 14px;
    }
}

.product-detail-review-language-form {
    .custom-switch {
        small {
            display: flex;
            align-items: center;
            line-height: 1.5;
        }
    }
}

.product-review-rating {
    margin-right: 0;
}

.product-detail-review-item-title {
    padding-left: 24px;
}

.product-detail-review-info .product-review-rating {
    padding-right: 24px;
}

.product-detail-review-progressbar-container {
    margin-top: 8px;
}

.point-rating {
    &.point-blank {
        .icon {
            color: $gray-300;
        }
    }
}
