.product-detail-wrapper {
    .buy-widget-container {
        .btn-buy-wrapper {
            @extend .col-8, .offset-4;
            padding: 0;
        }

        .btn-buy {
            max-height: 60px;
            margin: 20px 0 0;
        }
    }
}

.swag-customized-products__introduction {
    .swag-customized-products-start-wizard {
        background-color: $white;
        color: $sw-color-brand-primary;

        &:hover {
            background-color: $sw-color-brand-primary;
            color: $white;
        }
    }
}

.swag-customized-products__scrollable {
    .swag-customized-products__item.swag-customized-products-option {
        padding: 0;
    }
}

.swag-customized-products__item {
    &.swag-customized-products-option {
        margin: 10px 0;
        background: $gray-100;
    }

    .form-group {
        margin-bottom: 0;
    }

    .swag-customized-products__title-link-container {
        padding: 10px 0;

        .swag-customized-products-option__title {
            text-transform: unset;

            .swag-customized-products-option-type-select-wrapper {
                margin: 0 5px;
            }
        }
    }

    .swag-customized-products-configuration__items {
        margin-bottom: 30px;
        padding: 0 10px;

        .custom-control-input:checked ~ .custom-control-label::before {
            border-width: 1px;
        }

        .custom-checkbox {
            .custom-control-label::before {
                background: none;
            }
        }
    }

    .swag-customized-products__type-fileupload,
    .swag-customized-products__type-imageupload {
        .customized-products-upload-files-element-container {
            background-color: $gray-800;
            color: $white;
            font-size: $font-size-base;
            border-radius: 1px;
            border: none;
            padding: $spacer-sm $spacer-md;

            .customized-products-upload-files-element-container-icon .icon {
                color: $white;
            }

            .customized-products-upload-files-element-container-close-button .icon {
                color: $white;
            }
        }
    }

    .customized-products-upload__dropzone {
        background-color: $white;
        padding: $spacer-md $spacer-sm;

        .customized-products-upload__dropzone-text-restrictions {
            color: $gray-500;
        }

        .customized-products-upload__dropzone-col,
        .customized-products-upload__dropzone-button {
            display: flex;
            align-items: center;
        }

        .customized-products-upload__dropzone-text {
            margin-left: $spacer-sm;
        }

        @include media-breakpoint-up(md) {
            .customized-products-upload__dropzone-button {
                .btn-outline-secondary {
                    white-space: unset;
                }
            }
        }
    }

    .swag-custommized-product-html-editor__toolbar,
    .swag-custommized-product-html-editor__toolbar-button {
        background-color: $sw-color-brand-primary;

        .icon {
            color: $white;
        }
    }

    .swag-custommized-product-html-editor__editor,
    .swag-customized-products-option-type-select-checkboxes-label,
    .swag-customized-products__type-textarea > textarea {
        background-color: $white;
    }

    .swag-customized-products-options-datetime {
        padding: 15px;
    }
}

.swag-customized-product__price-display {
    .card-title {
        font-weight: 500;
        border-bottom: 1px solid $gray-300;
        padding-bottom: 10px;
    }

    .price-display__summary {
        .price-display__label,
        .price-display__price {
            font-weight: 500;
        }
    }

    .price-display__list {
        margin: 0 0 $spacer-md / 2 $spacer-md;
    }
}

.flatpickr-calendar {
    .flatpickr-day {
        border-radius: 0;

        &.selected {
            background-color: $sw-color-brand-primary;
            border-color: $sw-color-brand-primary;
        }
    }

    .flatpickr-monthDropdown-months {
        appearance: none;
        border: none;
    }
}

.swag-customized-products.is--step-by-step {
    .swag-customized-products__navigation-holder {
        border-bottom: none;
        background-color: $gray-100;
    }

    .swag-customized-products-pager {
        .swag-customized-products-pager__page-number {
            color: $white;
            max-width: calc(100% - 200px);
            overflow: auto;

            .swag-customized-products-pager {
                padding: 5px;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                min-width: 30px;
                border: none;
                position: relative;

                &.prev-page {
                    background-color: $sw-color-success;
                }

                &.next-page {
                    background-color: $gray-200;
                    color: $sw-color-brand-primary;
                }

                &.current-page {
                    background-color: $sw-color-brand-primary;
                }
            }
        }
    }
}
