.product-detail-wrapper {
    .buy-widget-container {
        .btn-buy-wrapper {
            @extend .col-8, .offset-4;
            padding: 0;
        }

        .btn-buy {
            max-height: 60px;
            margin: 20px 0 0;
        }
    }
}

.swag-customized-products__introduction {
    .swag-customized-products-start-wizard {
        background-color: $white;
        color: $sw-color-brand-primary;

        &:hover {
            background-color: $sw-color-brand-primary;
            color: $white;
        }
    }
}

.swag-customized-products__scrollable {
    .swag-customized-products__item.swag-customized-products-option {
        padding: 0;
    }
}

.swag-customized-products__item {
    &.swag-customized-products-option {
        margin: 10px 0;
        background: $gray-100;
    }

    .form-group {
        margin-bottom: 0;
    }

    .swag-customized-products__title-link-container {
        padding: 10px 0;

        .swag-customized-products-option__title {
            text-transform: unset;

            .swag-customized-products-option-type-select-wrapper {
                margin: 0 5px;
            }
        }
    }

    .swag-customized-products-configuration__items {
        margin-bottom: 30px;
        padding: 0 10px;

        .form-check-input:checked ~ .form-check-label::before {
            border-width: 1px;
        }

        .form-check {
            .form-check-label::before {
                background: none;
            }
        }

        &.swag-customized-products__type-select {
            select.swag-customized-products-form-control {
                display: inline;
            }
        }
    }

    .swag-customized-products__type-fileupload,
    .swag-customized-products__type-imageupload {
        .customized-products-upload-files-element-container {
            background-color: $gray-800;
            color: $white;
            font-size: $font-size-base;
            border-radius: 1px;
            border: none;
            padding: $spacer-sm $spacer-md;

            .customized-products-upload-files-element-container-icon .icon {
                color: $white;
            }

            .customized-products-upload-files-element-container-close-button .icon {
                color: $white;
            }
        }
    }

    .customized-products-upload__dropzone {
        background-color: $white;
        padding: $spacer-md $spacer-sm;

        .customized-products-upload__dropzone-text-restrictions {
            color: $gray-500;
        }

        .customized-products-upload__dropzone-col,
        .customized-products-upload__dropzone-button {
            display: flex;
            align-items: center;
        }

        .customized-products-upload__dropzone-text {
            margin-left: $spacer-sm;
        }

        @include media-breakpoint-up(md) {
            .customized-products-upload__dropzone-button {
                .btn-outline-secondary {
                    white-space: unset;
                }
            }
        }
    }

    .swag-custommized-product-html-editor__toolbar,
    .swag-custommized-product-html-editor__toolbar-button {
        background-color: $sw-color-brand-primary;

        .icon {
            color: $white;
        }
    }

    .swag-custommized-product-html-editor__editor,
    .swag-customized-products-option-type-select-checkboxes-label,
    .swag-customized-products__type-textarea > textarea {
        background-color: $white;
    }

    .swag-customized-products-options-datetime {
        padding: 15px;
    }
}

.swag-customized-products-option-type-select-wrapper {
    .forms-boolean {
        border: none;
    }
}

.swag-customized-products-pager__button {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;

    &.btn-prev {
        margin-right: 10px;
    }
}

.swag-customized-product__price-display {
    .card-title {
        font-weight: 500;
        border-bottom: 1px solid $gray-300;
        padding-bottom: 10px;
    }

    .price-display__summary {
        .price-display__label,
        .price-display__price {
            font-weight: 500;
        }
    }

    .price-display__list {
        margin: 0 0 $spacer-md / 2 $spacer-md;
    }
}

.flatpickr-calendar {
    .flatpickr-day {
        border-radius: 0;

        &.selected {
            background-color: $sw-color-brand-primary;
            border-color: $sw-color-brand-primary;
        }

        &.today {
            border: $border-width solid $gray-300;
        }
    }

    .flatpickr-monthDropdown-months {
        appearance: none;
        border: none;
    }
}

.swag-customized-products.is--step-by-step {
    .swag-customized-products__navigation-holder {
        border-bottom: none;
        background-color: $gray-100;
    }

    .swag-customized-products-pager {
        .swag-customized-products-pager__page-number {
            color: $white;
            overflow-x: auto;
            width: calc(100% - 200px);
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            .swag-customized-products-pager {
                padding: 5px;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                line-height: 20px;
                min-width: 30px;
                border: none;
                position: relative;

                &.prev-page {
                    background-color: $sw-color-success;
                }

                &.next-page {
                    background-color: $gray-200;
                    color: $sw-color-brand-primary;
                }

                &.current-page {
                    background-color: $sw-color-brand-primary;
                }
            }
        }
    }
}

.swag-customized-products {
    .swag-customized-products-configuration__description {
        margin: 0;

        &:not(:empty) {
            margin: $spacer-sm 0;
        }
    }
}

.line-item-customized-products {
    .swag-customized-products__line-item-image-container {
        width: 100px;
        padding: 0;
    }

    .swag-customized-products__line-item-image {
        @include make-col(3);
        padding-left: $cart-grid-gutter-width / 2;
    }

    .line-item-details {
        @include make-col(9);
        padding-left: 20px;
    }

    .line-item-label {
        font-weight: $font-weight-bolder;
        height: auto;
    }

    .swag-customized-products__line-item-options-container {
        margin: 0;

        .line-item-collapse-icon svg {
            top: 0;
        }
    }

    .line-item-total-price-value {
        font-weight: $font-weight-base;
    }

    .line-item-remove {
        .line-item-remove-button {
            padding: 6px 9px;
            border: $border-width solid $sw-color-brand-primary;
            background-color: transparent;

            .icon svg {
                top: 4px;
            }
        }
    }

    .swag-customized-products__line-item-details {
        overflow-wrap: anywhere;
    }

    .swag-customized-products__line-item-collapse {
        order: 6;
        padding: 5px;

        .swag-customized-products__line-item-option-elements {
            padding: 0;
        }

        .line-item-total-price-label {
            display: none;
        }
    }

    .line-item-unit-price,
    .line-item-tax-price,
    .line-item-total-price {
        display: flex;
    }
}

.cart-offcanvas {
    .line-item-customized-products {
        .swag-customized-products__line-item-option-price-elements-small {
            margin-top: 0;
        }
    }

    .line-item-info {
        @include make-col(9);
    }

    .offcanvas-summary-list .summary-value {
        padding-left: 0;
    }
}

.is-act-cartpage,
.is-act-confirmpage {
    .line-item-customized-products {
        .line-item-total-price-label,
        .line-item-unit-price-label {
            @extend .col-6;
            padding-left: 0;
            text-align: left;
        }

        .line-item-total-price-value,
        .line-item-unit-price-value {
            padding-right: 0;
            text-align: right;
        }

        .line-item-total-price {
            margin-bottom: 25px;
        }

        @include media-breakpoint-up(lg) {
            .swag-customized-products__line-item-total-price .line-item-total-price-label {
                display: none;
            }

            .swag-customized-products__line-item-quantity {
                display: flex;
                justify-content: center;
            }

            .swag-customized-products__line-item-total-price,
            .line-item-tax-price {
                @include make-col(2);
                border: none;
                margin: 0;
            }

            .line-item-total-price {
                margin-bottom: 0;
            }

            .swag-customized-products__line-item-image {
                @include make-col(4);
            }
        }
    }

    .is-default,
    .is- {
        .swag-customized-products__line-item-unit-price .line-item-unit-price-label,
        .swag-customized-products__line-item-total-price .line-item-total-price-label {
            display: inline;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
}

.is-ctl-register {
    .swag-customized-products__line-item-image {
        @include make-col(4);
    }

    .swag-customized-products__line-item-total-price .line-item-total-price-label,
    .swag-customized-products__line-item-unit-price .line-item-unit-price-label {
        display: inline;
    }
}

.is-ctl-accountorder,
.is-act-finishpage {
    .line-item-customized-products {
        .swag-customized-products__line-item-remove {
            display: none;
        }

        .swag-customized-products__line-item-image {
            padding: 0;
        }
    }
}

.is-ctl-accountorder {
    .line-item-customized-products {
        .swag-customized-products__line-item-quantity {
            width: 100%;
            display: flex;

            .line-item-quantity-select-wrapper {
                text-align: right;
                width: auto;
            }
        }

        .swag-customized-products__line-item-options-control-wrapper {
            width: 100%;
        }

        .line-item-customized-products .line-item-unit-price-value {
            width: auto;
        }

        .swag-customized-products__line-item-unit-price .line-item-unit-price-label {
            display: inline;
        }

        @include media-breakpoint-up(lg) {
            &.is-default .swag-customized-products__line-item-image,
            &.is- .swag-customized-products__line-item-image {
                @include make-col(4);
            }

            .swag-customized-products__line-item-quantity {
                @include make-col(2);
            }

            .swag-customized-products__line-item-unit-price .line-item-unit-price-label {
                display: none;
            }
        }
    }
}

*:not(.cart-offcanvas) {
    .swag-customized-products__line-item-quantity .line-item-quantity-label,
    .swag-customized-products__line-item-unit-price .line-item-tax-price-label,
    .swag-customized-products__line-item-total-price .line-item-total-price-label {
        display: block;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.swag-customized-products__line-item-option-element-detailed-unit-price,
.swag-customized-products__line-item-option-element-detailed-total-price,
.swag-customized-products__line-item-option-element-detailed-tax-price {
    display: flex;
    justify-content: space-between;
}

@include media-breakpoint-up(sm) {
    .line-item-customized-products {
        .swag-customized-products__line-item-collapse {
            .line-item-total-price-label {
                display: inline-block;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .line-item-customized-products {
        .swag-customized-products__line-item-collapse {
            .line-item-total-price-label {
                display: none;
            }
        }
    }
}
