$finish-content-spacer: 50px;
$finish-content-spacer-lg: 70px;

.is-act-finishpage {
    .checkout {
        padding-top: 0;

        .checkout-container {
            .checkout-main {
                @extend .col-12;
                @extend .col-md-5;
                @extend .col-lg-4;
                @include make-col-offset(0);

                background-color: $white;
            }

            .checkout-aside {
                @extend .col-12;
                @extend .col-md-7;
                @extend .col-lg-8;
                @include make-col-offset(0);

                background-color: $gray-100;
            }
        }
    }

    .confirm-main-sub {
        margin-bottom: 30px;
    }

    .cart-item-quantity {
        @include make-col(12);
        order: 1;
    }

    .cart-header-quantity {
        padding-left: 0;
        text-align: left;
    }

    .line-item-info {
        border-bottom: $border-width solid $border-color;
        margin-bottom: 0;
        padding-bottom: 15px;

        @include media-breakpoint-up(lg) {
            border: none;
            padding-bottom: 0;

            .line-item-ordernumber {
                margin-bottom: 0;
            }
        }
    }

    .line-item-quantity {
        @include make-col(12);
        order: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        .line-item-quantity-label {
            padding-top: 0;
            text-transform: none;
            margin-bottom: 0;
            width: auto;
        }

        .line-item-quantity-select-wrapper {
            width: auto;

            .line-item-quantity {
                padding-right: 0;
            }
        }

        @include media-breakpoint-up(md) {
            order: 0;
            flex-direction: row;
        }

        @include media-breakpoint-up(lg) {
            @include make-col(2);
            border: none;
        }
    }

    .line-item-total-price,
    .line-item-tax-price {
        border: none;
        padding: 0;
    }

    .line-item-total-price-label {
        margin-bottom: 0;
    }

    .cart-item-quantity-row {
        @extend .mb-0;
        @extend .g-0;

        width: 100%;
    }

    .cart-item-quantity-label,
    .cart-item-quantity-label + div {
        @include make-col(6);

        text-transform: none;
        letter-spacing: normal;
    }

    .cart-item-quantity-label + div {
        text-align: right;
    }

    .checkout-aside-summary {
        border-bottom: none;
    }

    @include media-breakpoint-up(lg) {
        .cart-item-quantity {
            @include make-col(2);
            order: 0;
        }

        .cart-item-quantity-row {
            justify-content: flex-start;
        }

        .content-main {
            display: flex;
            justify-content: center;
        }

        .container,
        .container-main {
            height: 100%;

            &.cart-item-collapse-container {
                height: auto;
            }
        }
    }
}

.finish-header,
.finish-ordernumber,
.finish-order-subtitle,
.finish-teaser {
    text-align: left;
}

.finish-product-header,
.finish-address {
    margin-bottom: $spacer-xl;
}

.finish-info {
    padding-top: $finish-content-spacer;
    border-top: 1px solid $border-color;
}

.finish-info,
.finish-ordernumber {
    margin-bottom: 0;
}

.finish-content {
    margin-bottom: $finish-content-spacer;

    @include media-breakpoint-up(lg) {
        margin-bottom: $finish-content-spacer-lg;
    }
}

.finish-order-comment {
    margin-top: 20px;
}
